.background {
  background-color: rgba(175, 109, 22, 0.445);
  width: 100vw !important;
  height: 100vh !important;
  padding: 0 !important;
  margin: 0 !important;
}
.header {
  background-color: #e4c437;
  width: 100%;
  height: fit-content;

  .nameHeader {
    text-align: center;
    margin-top: 10px;
  }
}

.body {
  width: 100%;
  flex-wrap: wrap;
}

.modalBody {
  position: 'absolute' as 'absolute';
}
